<h1 mat-dialog-title>Add New Item</h1>

<mat-dialog-content>
  <form [formGroup]="newItemForm">
    <label>
      Upload photo:
      <input type="file" (change)="onFileChange($event)" accept="{.png,.jpg,.jpeg}"/>
    </label>
    <mat-form-field class="full-width">
      <input matInput placeholder="Item Name" formControlName="name" required>
      <mat-hint align="end">{{newItemForm.get('name').value?.length || 0}}/100</mat-hint>
      <mat-error *ngIf="newItemForm.get('name')">{{getErrorMsg('name')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Item Comments" formControlName="comments"></textarea>
      <mat-hint align="end">{{newItemForm.get('comments').value?.length}}/1000</mat-hint>
      <mat-error *ngIf="newItemForm.get('comments')">{{getErrorMsg('comments')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Safety Notes" formControlName="safetyNotes"></textarea>
      <mat-hint align="end">{{newItemForm.get('safetyNotes').value?.length}}/1000</mat-hint>
      <mat-error *ngIf="newItemForm.get('safetyNotes')">{{getErrorMsg('safetyNotes')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Exceptions" formControlName="exceptions"></textarea>
      <mat-hint align="end">{{newItemForm.get('exceptions').value?.length}}/1000</mat-hint>
      <mat-error *ngIf="newItemForm.get('exceptions')">{{getErrorMsg('exceptions')}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!newItemForm.valid">Submit</button>
</div>
