<h1 mat-dialog-title>Add New Animal</h1>

<mat-dialog-content>
  <form [formGroup]="newAnimalForm">
    <div>
      <!-- Normal Key: Animal_IsisNumber -->
      <mat-form-field id="isis" name="isis">
        <input matInput placeholder="ISIS Number" formControlName="isisNumber" required>
        <mat-error *ngIf="newAnimalForm.get('isisNumber')">{{getErrorMsg('isisNumber')}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- Foreign Key: 'species' table -->
      <mat-form-field id="species" name="species">
        <mat-select placeholder="Species Name" formControlName="species" required>
          <mat-option *ngFor="let spec of data.species" [value]="spec.speciesId">
            {{spec.speciesName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <!-- Foreign Key: 'location' table -->
      <mat-form-field id="location" name="location">
        <mat-select placeholder="Location Name" formControlName="location" required>
          <mat-option *ngFor="let loc of data.locations" [value]="loc.id">
            {{loc.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Housed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group class="radio-group" formControlName="housed" required>
            <mat-radio-button class="radio-button" value="individual">Individual</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="conspecific">Group/Conspecific</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="mixedSpecies">Group/Mixed Species</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="onExhibit">On Exhibit</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="offExhibit">Off Exhibit</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="newAnimalForm.get('housed').hasError('required')">'Housed' is required</mat-error>
        </mat-card-content>
      </mat-card>
      <br/>
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Activity Cycle</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group class="radio-group" formControlName="activityCycle" required>
            <mat-radio-button class="radio-button" value="nocturnal">Nocturnal</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="diurnal">Diurnal</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="crepuscular">Crepuscular</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="variable">Variable</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="newAnimalForm.get('activityCycle').hasError('required')">'Activity Cycle' is required</mat-error>
        </mat-card-content>
      </mat-card>
      <br/>
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Age</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group class="radio-group" formControlName="age" required>
            <mat-radio-button class="radio-button" value="infant">Infant</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="juvenile">Juvenile</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="subadult">Subadult</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="adult">Adult</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="geriatric">Geriatric</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="newAnimalForm.get('age').hasError('required')">'Age(s)' is required</mat-error>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitNewAnimalForm()" [disabled]="!newAnimalForm.valid">Submit</button>
  </div>