<app-header></app-header>
<h1 class="mat-display-1 center-align">Novel Life Strategy Enrichment Request Form</h1>

<form [formGroup]="enrichmentRequestFormGroup">
  <mat-horizontal-stepper [linear]="true" #stepper formArrayName="requestForm">
    <mat-step formGroupName="0" [stepControl]="requestForm?.get([0])" label="Animal Data">
      <div>
        <!-- Foreign Key: 'department' table -->
        <mat-form-field id="dept" name="dept">
          <mat-select placeholder="Department Name" formControlName="department" required>
            <mat-option *ngFor="let dept of departments" [value]="dept">
              {{dept.departmentName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Foreign Key: 'species' table -->
        <mat-form-field id="species" name="species">
          <mat-select placeholder="Species Name" formControlName="species" required>
            <mat-option *ngFor="let spec of species" [value]="spec">
              {{spec.speciesName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field id="animal" name="animal">
          <mat-select placeholder="Animal" formControlName="animal" required>
            <mat-option *ngFor="let animal of animals" [value]="animal.id">
              {{animal.isisNumber}} - {{animal.species}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="left-margin" (click)="openNewAnimalDialog()">Add New Animal</button>
      </div>
      <div>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="requestForm?.get([1])" label="Type of Enrichment">
      <div>
        <!-- Foreign Key: 'item' table -->
        <mat-form-field id="itemId" name="itemId">
          <mat-select placeholder="Select Item" formControlName="itemId" required>
            <mat-option *ngFor="let item of items" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="left-margin" (click)="openNewItemDialog()">Add New Item</button>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Name -->
        <label for="enrichmentName">Enrichment Name: </label>
        <mat-form-field id="enrichmentName" name="enrichmentName">
          <input matInput placeholder="Name" formControlName="enrichmentName" required>
          <mat-hint align="end">{{requestForm.at(1).get('enrichmentName').value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="requestForm.at(1).get('enrichmentName')">{{getErrorMsg(1, 'enrichmentName')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Description -->
        <label for="description">Describe the Enrichment:</label>
        <br/>
        <mat-form-field class="increased-width" id="description" name="description">
          <textarea matInput placeholder="Details, articles, any data if possible" formControlName="enrichmentDescription" required></textarea>
          <mat-hint align="end">{{requestForm.at(1).get('enrichmentDescription').value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="requestForm.at(1).get('enrichmentDescription')">{{getErrorMsg(1, 'enrichmentDescription')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Foreign Key: 'location' table -->
        <label for="location">Where will it be presented?</label>
        <br/>
        <mat-form-field id="location" name="location">
          <mat-select placeholder="Location Name" formControlName="enrichmentLocation" required>
            <mat-option *ngFor="let loc of locations" [value]="loc.id">
              {{loc.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_PresentationMethod -->
        <label for="presented">How will it be presented?:</label>
        <br/>
        <mat-form-field class="increased-width" id="presented" name="presented">
          <textarea matInput placeholder="Presentation" formControlName="enrichmentPresentationMethod" required></textarea>
          <mat-hint align="end">{{requestForm.at(1).get('enrichmentPresentationMethod').value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="requestForm.at(1).get('enrichmentPresentationMethod')">{{getErrorMsg(1, 'enrichmentPresentationMethod')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_TimeStart and Enrichment_TimeEnd -->
        <label for="enrichmentWhen">Time of day/night presented: </label>
        <mat-form-field id="enrichmentWhen" name="enrichmentWhen">
          <input matInput placeholder="Time" formControlName="enrichmentDayNightTime" required>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Frequency -->
        <label for="enrichmentFreq">Frequency/Duration of presentation: </label>
        <mat-form-field id="enrichmentFreq" name="enrichmentFreq">
          <input matInput placeholder="Frequency/Duration" formControlName="enrichmentFrequency" required>
          <mat-error *ngIf="requestForm.at(1).get('enrichmentFrequency')">{{getErrorMsg(1, 'enrichmentFrequency')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2" [stepControl]="requestForm?.get([2])" label="Current Data">
      <div>
        <!-- Normal Key: Enrichment_LifeStrategies -->
        <label for="lifeStrategies">Have you completed a "Life Strategies" worksheet and researched the species' natural history?</label>
        <br/>
        <mat-form-field id="lifeStrategies" name="lifeStrategies">
          <mat-select placeholder="Yes/No" formControlName="lifeStrategiesWksht" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_PreviousUse -->
        <label for="anotherPlace">Has another department or zoo used this enrichment before?</label>
        <br/>
        <mat-form-field id="anotherPlace" name="anotherPlace">
          <mat-select placeholder="Yes/No" formControlName="anotherDeptZoo" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Contact -->
        <label for="anotherPlaceMoreInfo">Have they been contacted for more information?</label>
        <br/>
        <mat-form-field id="anotherPlaceMoreInfo" name="anotherPlaceMoreInfo">
          <mat-select placeholder="Yes/No" formControlName="anotherDeptZooMoreInfo" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_SafetyQuestions -->
        <label for="safety">Have you addressed safety questions in "Enrichment Protocol"?</label>
        <br/>
        <mat-form-field id="safety" name="safety">
          <mat-select placeholder="Yes/No" formControlName="safetyQuestion" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <br/>
      <div>
        <!-- Normal Key: Enrichment_RisksHazards -->
        <label for="risks">Have risks and hazards been minimized?</label>
        <br/>
        <mat-form-field id="risks" name="risks">
          <mat-select placeholder="Yes/No" formControlName="risksQuestion" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <br/>
      <div>
        <!-- Normal Key: Enrichment_Concerns -->
        <mat-form-field class="increased-width">
          <textarea matInput placeholder="Detail any concerns here" formControlName="safetyComment"></textarea>
          <mat-hint align="end">{{requestForm.at(2).get('safetyComment').value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="requestForm.at(2).get('safetyComment')">{{getErrorMsg(2, 'safetyComment')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="3" [stepControl]="requestForm?.get([3])" label="Goal of Enrichment">
      <div>
        <!-- Normal Key: Enrichment_Goal -->
        <label for="behaviors">What natural behaviors do you expect this enrichment to encourage/elicit?</label>
        <mat-form-field id="behaviors" name="behaviors" class="full-width">
          <textarea matInput placeholder="Natural Behaviors" formControlName="naturalBehaviors" required></textarea>
          <mat-hint align="end">{{requestForm.at(3).get('naturalBehaviors').value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="requestForm.at(3).get('naturalBehaviors')">{{getErrorMsg(3, 'naturalBehaviors')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="4" [stepControl]="requestForm?.get([4])" label="Materials/Cost Analysis">
      <div>
        <!-- Normal Key: Enrichment_Source -->
        <label for="source">Source:</label>
        <br/>
        <mat-radio-group class="radio-group left-margin" id="source" name="source" formControlName="source" required>
          <mat-radio-button class="radio-button" value="To Be Purchased">Needs to be purchased</mat-radio-button>
          <mat-radio-button class="radio-button" value="Zoo Grounds">Zoo grounds</mat-radio-button>
          <mat-radio-button class="radio-button" value="Donation">Donation</mat-radio-button>
          <mat-radio-button class="radio-button" value="Other">Other</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="requestForm?.get([4]).value.source === 'other'" class="left-margin">
        <!-- Normal Key: Enrichment_Source (will override previous entry) -->
        <mat-form-field>
          <input matInput placeholder="Other source" formControlName="otherSource" required>
          <mat-hint align="end">{{requestForm.at(4).get('otherSource').value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="requestForm.at(4).get('otherSource')">{{getErrorMsg(4, 'otherSource')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_TimeRequired -->
        <label for="timeRequired">Time Required: </label>
        <mat-form-field id="timeRequired" name="timeRequired">
          <input matInput placeholder="Time required" formControlName="timeRequired" required>
          <mat-error *ngIf="requestForm.at(4).get('timeRequired')">{{getErrorMsg(4, 'timeRequired')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Construction -->
        <label for="construct">Who will construct and how?: </label>
        <mat-form-field id="construct" name="construct" class="full-width">
          <textarea matInput placeholder="Who/How?" formControlName="whoConstructs" required></textarea>
          <mat-hint align="end">{{requestForm.at(4).get('whoConstructs').value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="requestForm.at(4).get('whoConstructs')">{{getErrorMsg(4, 'whoConstructs')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Volunteers -->
        <label for="volunteer">Can volunteer(s)/docent(s) be utilized? </label>
        <mat-form-field id="volunteer" name="volunteer">
          <mat-select placeholder="Yes/No" formControlName="volunteerDocentUtilized" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Inventory -->
        <label for="inventory">For inventory use, please select applicable categories for this enrichment: </label>
        <mat-form-field id="inventory" name="inventory" class="full-width">
          <mat-chip-list #categoryList>
            <mat-chip
              *ngFor="let category of categories"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(category)">
              {{category}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Categories"
              #categoryInput
              formControlName="enrichmentCategory"
              [matAutocomplete]="auto"
              [matChipInputFor]="categoryList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" required>
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
              {{category}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_Submittor -->
        <label for="name">Your name: </label>
        <mat-form-field id="name" name="name">
          <input matInput placeholder="John Smith" formControlName="nameOfSubmitter" required>
        </mat-form-field>
      </div>
      <div>
        <!-- Normal Key: Enrichment_DateSubmitted -->
        <label for="date">Date of submission: </label>
        <mat-form-field id="date" name="date">
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="dateOfSubmission" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="primary" [disabled]="!enrichmentRequestFormGroup.valid" (click)="submitForm(stepper)">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
