<app-header></app-header>
<h1 class="mat-display-1 center-align">My Account</h1>

<mat-card class="mat-elevation-z8">
  <mat-card-title>User Details</mat-card-title>
  <mat-card-content>
    <p>Name: {{userFirstName}} {{userLastName}}</p>
    <p>Username: {{userName}}</p>
    <p>Department: {{userDepartment}}</p>
    <p>Password: **********</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleChangePassword(true)" [disabled]="changePasswordToggle">Change Password</button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card *ngIf="changePasswordToggle" class="mat-elevation-z8">
  <mat-card-title>Change Password</mat-card-title>
  <mat-card-content>
      <form class="form-css" [formGroup]="changePasswordForm" #formDirective="ngForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Old Password</mat-label>
          <input matInput formControlName="oldPassword" type="password" placeholder="hunter2" required/>
          <mat-error *ngIf="changePasswordForm.get('oldPassword').invalid">{{getErrorMsg('oldPassword')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" placeholder="ineedaweapon" required/>
          <mat-error *ngIf="changePasswordForm.get('newPassword').invalid">{{getErrorMsg('newPassword')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="newPassword2" type="password" placeholder="ineedaweapon" required/>
          <mat-error *ngIf="changePasswordForm.get('newPassword2').invalid">{{getErrorMsg('newPassword2')}}</mat-error>
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="toggleChangePassword(false)">Cancel</button>
    <button mat-button (click)="changePassword()" [disabled]="!changePasswordForm.valid" color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
