<app-header></app-header>

<h1 class="mat-display-1 center-align">All Approved Items</h1>

<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    
    <!-- Enrichment Item Column -->
    <ng-container matColumnDef="enrichmentItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrichment Item </th>
      <td mat-cell *matCellDef="let element"> {{element.enrichmentItem}} </td>
    </ng-container>

    <!-- behaviorsEncouraged Column -->
    <ng-container matColumnDef="behaviorsEncouraged">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Behaviors Encouraged </th>
        <td mat-cell *matCellDef="let element"> {{element.behaviorsEncouraged}} </td>
    </ng-container>

    <!-- dateApproved Column -->
    <ng-container matColumnDef="dateApproved">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Approved </th>
        <td mat-cell *matCellDef="let element"> {{element.dateApproved}} </td>
    </ng-container>

    <!-- safetyConcerns Column -->
    <ng-container matColumnDef="safetyConcerns" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Safety Concerns </th>
        <td mat-cell *matCellDef="let element"> {{element.safetyConcerns}} </td>
    </ng-container>

    <!-- exceptions Column -->
    <ng-container matColumnDef="exceptions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exceptions </th>
        <td mat-cell *matCellDef="let element"> {{element.exceptions}} </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <!-- species Column -->
    <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
        <td mat-cell *matCellDef="let element"> {{element.species}} </td>
    </ng-container>

    <!-- category Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Life Strategy Category(s) </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>