table {
  width: 100%;
}
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.max-width {
  width: 100%;
}
td, th {
  width: 10%;
}
.button-margin {
  margin-left: 20px;
}
.admin-row {
  background-color: #75a4ef;
}