<h1 mat-dialog-title>Edit User '{{usernameToEdit}}'</h1>

<div mat-dialog-content>
  <form class="form-css" [formGroup]="editUserForm" #formDirective="ngForm" (ngSubmit)="editUser()">
    <mat-form-field class="full-width" hintLabel="Max 50 characters">
      <input #username matInput formControlName="firstName" type="text" placeholder="User first Name" required/>
      <mat-hint align="end">{{editUserForm.get('firstName').value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="editUserForm.get('firstName').invalid">{{getErrorMsg('firstName')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="Max 45 characters">
      <input matInput formControlName="lastName" type="text" placeholder="User Last Name" required/>
      <mat-hint align="end">{{editUserForm.get('lastName').value?.length || 0}}/45</mat-hint>
      <mat-error *ngIf="editUserForm.get('lastName').invalid">{{getErrorMsg('lastName')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="Select a department">
      <mat-select placeholder="Department" formControlName="department" required>
        <mat-option *ngFor="let dept of editUserDepartments" [value]="dept">
          {{dept.departmentName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="Max 15 characters">
      <input matInput formControlName="username" type="text" placeholder="Username" required/>
      <mat-hint align="end">{{editUserForm.get('username').value?.length || 0}}/25</mat-hint>
      <mat-error *ngIf="editUserForm.get('username').invalid">{{getErrorMsg('username')}}</mat-error>
    </mat-form-field>
    <button type="submit" style="display:none" [disabled]="!editUserForm.valid"></button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()" color="accent">Cancel</button>
  <button mat-raised-button style="margin-left: 20px;" type="submit" (click)="editUser()" matTooltip="Will override current user details" [disabled]="!editUserForm.valid">Edit User</button>
</div>
