<h1 class="mat-display-1 center-align">Behavior Enrichment Program: Sign Up</h1>
<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="max-width">
      <mat-card-content>
        <form class="form-css" [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <mat-form-field class="full-width" hintLabel="Max 50 characters">
            <input matInput formControlName="firstName" type="text" placeholder="First Name" autofocus required/>
            <mat-hint align="end">{{signUpForm.get('firstName').value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="signUpForm.get('firstName').invalid">{{getFirstNameErrorMsg()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" hintLabel="Max 45 characters">
            <input matInput formControlName="lastName" type="text" placeholder="Last Name" required/>
            <mat-hint align="end">{{signUpForm.get('lastName').value?.length || 0}}/45</mat-hint>
            <mat-error *ngIf="signUpForm.get('lastName').invalid">{{getLastNameErrorMsg()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" hintLabel="Select a department">
            <mat-select placeholder="Department Name" formControlName="department" required>
              <mat-option *ngFor="let dept of departments" [value]="dept">
                {{dept.departmentName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" hintLabel="Max 15 characters">
            <input matInput formControlName="username" type="text" placeholder="Username" required/>
            <mat-hint align="end">{{signUpForm.get('username').value?.length || 0}}/25</mat-hint>
            <mat-error *ngIf="signUpForm.get('username').invalid">{{getUsernameErrorMsg()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" placeholder="Password" required/>
            <mat-error *ngIf="signUpForm.hasError('required', 'password')">Password is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher" type="password" placeholder="Confirm password" required/>
            <mat-error *ngIf="signUpForm.hasError('notSame')">Passwords do not match</mat-error>
          </mat-form-field>
          <button type="submit" style="display:none" [disabled]="!signUpForm.valid"></button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="login" routerLinkActive="active">Back</button>
        <button mat-raised-button (click)="signUp()" color="primary" [disabled]="!signUpForm.valid">Sign Up</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
